.reactedge-banner-static {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
}

@media (min-width: 641px) {
    .reactedge-banner-static {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1025px) {
    .reactedge-banner-static {
        grid-template-columns: repeat(3, 1fr);
    }
}