/* BannerStatic.css */

bannermulti-widget .banner-static-grid {
    display: grid;
    gap: 20px;
    width: 100%;
}

bannermulti-widget .banner-static-grid.cols-1 {
    grid-template-columns: repeat(1, 1fr);
}

bannermulti-widget .banner-static-grid.cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

bannermulti-widget .banner-static-grid.cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

bannermulti-widget .banner-static-item {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Ratios */

bannermulti-widget .banner-static-item.ratio-16-7 {
    aspect-ratio: 16 / 7;
}

bannermulti-widget .banner-static-item.ratio-4-3 {
    aspect-ratio: 4 / 3;
}

bannermulti-widget .banner-static-item.ratio-3-4 {
    aspect-ratio: 3 / 4;
}

/* Mobile */

@media (max-width: 640px) {
    bannermulti-widget .banner-static-grid {
        grid-template-columns: 1fr !important;
    }
}

/* Tablet */

@media (min-width: 641px) and (max-width: 1024px) {
    bannermulti-widget .banner-static-grid.cols-3 {
        grid-template-columns: repeat(2, 1fr);
    }
}